<!-- Main Content Section -->
<!--Row 1-->
<!--Boarder-->
<div class="boarder">
	<div class="grid">
		<!--Left Content Column-->
		<div class="col-1-2">
			<h2>Ferrari LaFerrari</h2>
			<div class="text_align_left"
			<p>Above sports cars, there are exotic sports cars. And the LaFerrari is poised to be the king of all exotic sports cars. Its 789-hp V-12 gets a 161-hp boost from an electric motor—that’s right, it’s a hybrid—enabling it to accelerate like a Bugatti Veyron while achieving somewhat respectable fuel economy. Far prettier than its predecessor, the Enzo, the LaFerrari is styled like a ground-bound fighter jet. Its interior is custom-fit for its owner—as it should be, given its sky-high price tag.</p>
			<p>Click on the link for more information on the <a href="http://www.caranddriver.com/ferrari/laferrari">Ferrari LaFerrari</a> supercar. Price £1,150,000</p>
			</div>
			</div>
			<!--Right Content Column-->
			<div class="col-2-2">
			<div class="noprint">
			<iframe width="450" height="320" src="http://www.youtube.com/embed/zaMrkPi4-lE" frameborder="0" allowfullscreen></iframe>
			</div>
			</div>
			</div>
			</div>
			<!--Row 2-->
			<!--Boarder-->
			<div class="boarder">
			<figure>
			<figcaption><strong>Ferrari LaFerrari Pictures</strong></figcaption>
			<br/>
			<img src="images/ferrari_1.jpg" width="150" height="150" title="Ferrari LaFerrari Red 1"
			alt="Ferreari LaFerrari Red 1" />
			<img src="images/Ferrari_2.jpg" width="150" height="150" title="Ferrari LaFerrari Red 2"
			alt="Ferrari LaFerrari Red 2" />
			<img src="images/ferrari_3.jpg" width="150" height="150" title="Ferrari LaFerrari Red 3"
			alt="Ferrari LaFerrari Red 3" />
			<img src="images/ferrari_4.jpg" width="150" height="150" title="Ferrari LaFerrari Red 4"
			alt="Ferrari LaFerrari Red 4" />
			<img src="images/ferrari_5.jpg" width="150" height="150" title="Ferrari LaFerrari Red 5"
			alt="Ferrari LaFerrari Red 5" />
			<img src="images/ferrari_6.jpg" width="150" height="150" title="Ferrari LaFerrari Red 6"
			alt="Ferrari LaFerrari Red 6e" />
			<img src="images/ferrari_7.jpg" width="150" height="150" title="Ferrari LaFerrari Yellow 7"
			alt="Ferrari LaFerrari Yellow 7" />
			<img src="images/ferrari_8.jpg" width="150" height="150" title="Ferrari LaFerrari Black 8"
			alt="Ferrari LaFerrari Black 8" />
			<img src="images/ferrari_9.jpg" width="150" height="150" title="Ferrari LaFerrari Black 9"
			alt="Ferrari LaFerrari Black 9" />
			<img src="images/ferrari_10.jpg" width="150" height="150" title="Ferrari LaFerrari Black 10"
			alt="Ferrari LaFerrari Black 10" />
			</figure>
		</div>
