<div id="page">
	<!-- Header Section -->
	<div id="header">
		<!--Row 1-->
		<!-- Hyperlink Navigation Bar -->
		<!-- Boarder -->
		<a name="top_of_page" />
		<div class="noprint">
			<div id="nav_bar">
				<ul>
					<li>
						<a href="index.php" accesskey="1">Home</a>
					</li>
					<li>
						<a href="supercars_category.php">Supercars</a>
						<ul>
							<li>
								<a href="ferrari_laferrari_supercar.php">Ferrari LaFerrari</a>
							</li>
							<li>
								<a href="porsche_918_supercar.php">Porsche 918</a>
							</li>
							<li>
								<a href="mclaren_p1_supercar.php">McLaren P1</a>
							</li>
							<li>
								<a href="bugatti_veyron_supercar.php">Bugatti Veyron</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="racing_events_category.php">Racing Events</a>
						<ul>
							<li>
								<a href="silverstone_circuit.php">Silverstone Circuit</a>
							</li>
							<li>
								<a href="catalunya_circuit.php">Catalunya Circuit</a>
							</li>
							<li>
								<a href="long_beach_circuit.php">Long Beach Circuit</a>
							</li>
							<li>
								<a href="le_mans_circuit.php">Le Mans Circuit</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="contact_us.php" accesskey="2">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Row 2 -->
	<div class="boarder1">
		<div class="grid">
			<!--Left Header Column-->
			<div class="col-1-2">
				<h1 id="page_heading">Marcus'Supercars</h1>
			</div>
			<!--Right Header Column-->
			<div class="col-2-2">
				<!--Search Bar inputted here!-->
				<div class="header_links">
					<div class="noprint">
						<p>
							<a href="contact_us.html#form" title="Link to contact us webpage">Enquiry Form</a>
							<br/>
							<a href="#sec1" title="Link to categories section">Categories</a>
							<br/>
							<a href="http://www.facebook.com">Facebook</a>
							<br/>
							<a href="http://www.twitter.com">Twitter</a>
							<br/>
							<a href="http://www.youtube.com">You Tube</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
