<!-- Main Content Section -->
<!--Row 1-->
<!--Boarder-->
<div class="boarder">
	<div class="grid">
		<!--Left Content Column-->
		<div class="col-1-2">
			<h2>'The Sky's The Limit'</h2>
			<h2>About Marcus' Supercars</h2>
			<div class="text_align_left">
				<p>
					Marcus' Supercars is one of the the largest chain of supercar sales companies in the world. With over 17 million satisfied customers at 70 different establishmnets across the UK, Marcus' Supercars has been one of the best places to buy hypercars since 2011. At Marcus' Supercars you will find some of the latest sporty supercars, such as the prestigious:
				</p>
				<div id="list_style">
					<ul>
						<li>
							<a href="ferrari_laferrari_product.html" title="Link to ferrari laferrari webpage">Ferrari LaFerrari</a>
						</li>
						<li>
							<a href="porsche_918_product.html" title="Link to porsche 918 webpage">Porsche 918</a>
						</li>
						<li>
							<a href="mclaren_p1_product.html" title="Link to mclaren p1 webpage">McLaren P1</a>
						</li>
						<li>
							<a href="bugatti_veyron_product.html" title="Link to bugatti veyron webpage">Bugatti Veyron</a>
						</li>
					</ul>
				</div>
				<p>
					All in a wide range of beautiful colours. Along with the very best and sporty parts to customize the car of your dreams.
				</p>
				<p>
					It is now possible for customers to purchase memberships to participate in race events. The prices of the membersaips are on the webpage for each particular racing event.
				</p>
				<p>
					Here is a quote from one of the greatest racers of all time, Michael Schumacher:
				</p>
				<blockquote cite="http://www.brainyquote.com/quotes/authors/m/michael_schumacher.html">
					Once something is a passion, the motivation is always there.
				</blockquote>
			</div>
		</div>
		<!--Right Content Column-->
		<div class="col-2-2">
			<!--Image Slideshow-->
			<img src="images/supercar_index.jpg" width="450" height="320" title="Supercar: Bugatti Veyron. Colour: Black" alt="Supercar: Bugatti Veyron. Colour: Black" />
			<!--Video Slideshow-->
			<div class="noprint">
				<iframe width="450" height="320" src="http://www.youtube.com/embed/Y9lsrV3ndRw" frameborder="0" alt="Bugatti Veyron You Tube video" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<!--Row 2-->
<!--Boarder-->

<div class="grid">

	<!--Left Column-->
	<div class="col-1-2">
		<div class="boarder">
			<!-- Image hyperlink for Supercars Category -->
			<h2 id="sec1">Supercars </h2>
			<p>
				The Supercars category contains product information on four of the best hybrid supercars on the market. Just click on the image to navigate to the supercars category page.
			</p>
			<a href="supercars_category.html"><img src="images/mclaren_p1_blue_index.jpg" width="450" height="320" title="Supercar: McLaren P1. Colour: Blue. Click image to go to the Supercars category webpage" alt="Supercar: McLaren P1. Colour: Blue" /></a>
		</div>
	</div>
	<!--Right Column-->

	<div class="col-2-2">
		<div class="boarder">
			<!-- Image Hyperlink for Racing Events Category-->
			<h2>Racing Events </h2>
			<p>
				The Racing Events category contains information on four of the best racing tracks in the world. Just click on the image to navigate to the Racing Events category page.
			</p>
			<a href="racing_events_category.html"><img src="images/race_track_index.jpg" width="450" height="320" title="Racing Events. Click image to go to the Racing Events category webpage" alt="Racing Events, two supercars racing on a race track" /></a>

		</div>
	</div>
</div>
