<!-- Main Content Section -->
<!--Row 1-->
<!--Boarder-->
<div class="boarder">
	<div class="grid">
		<!--Left Content Column-->
		<div class="col-1-2">
			<h2>McLaren P1</h2>
			<div class="text_align_left">
				<p>
					The P1 is a superhero among supercars: supermodel shapely, heroically powerful, stratospherically expensive, and—here’s the one drawback—unavailable. That’s because all 375 examples of the million-dollar plus, 903-hp gas/electric hybrid land rocket have been sold. The technology amazes: There’s a 3.8-liter 727-hp V-8 paired with a 177-hp electric motor, hydro-pneumatic suspension, electro-hydraulically assisted steering, and even a rear wing that extends almost 12 inches. Ah, to be rich...
				</p>
				<p>
					Click on the link for more information on the <a href="http://www.caranddriver.com/mclaren/p1">McLaren P1</a> supercar. Price £866,000
				</p>
			</div>
		</div>
		<!--Right Content Column-->
		<div class="col-2-2">
			<div class="noprint">
				<iframe width="450" height="320" src="http://www.youtube.com/embed/kdFwcBsCm4U" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<!--Row 2-->
<!--Boarder-->
<div class="boarder">
	<figure>
		<figcaption>
			<strong>McLaren P1 Pictures</strong>
		</figcaption>
		<br/>
		<img src="images/mclaren_1.jpg" width="150" height="150" title="McLaren P1 Yellow 1"
		alt="McLaren P1 Yellow 1" />
		<img src="images/mclaren_2.jpg" width="150" height="150" title="McLaren P1 Yellow 2"
		alt="McLaren P1 Yellow 2" />
		<img src="images/mclaren_3.jpg" width="150" height="150" title="McLaren P1 Yellow 3"
		alt="McLaren P1 Yellow 3" />
		<img src="images/mclaren_4.jpg" width="150" height="150" title="McLaren P1 Yellow 4"
		alt="McLaren P1 Yellow 4" />
		<img src="images/mclaren_5.jpg" width="150" height="150" title="McLaren P1 Yellow 5"
		alt="McLaren P1 Yellow 5" />
		<img src="images/mclaren_6.jpg" width="150" height="150" title="McLaren P1 Silver 6"
		alt="McLaren P1 Silver 6" />
		<img src="images/mclaren_7.jpg" width="150" height="150" title="McLaren P1 Orange 7"
		alt="McLaren P1 Orange 7" />
		<img src="images/mclaren_8.jpg" width="150" height="150" title="McLaren P1 Orange 8"
		alt="McLaren P1 Orange 8" />
		<img src="images/mclaren_9.jpg" width="150" height="150" title="McLaren P1 Orange 9"
		alt="McLaren P1 Orange 9" />
		<img src="images/mclaren_10.jpg" width="150" height="150" title="McLaren P1 Blue 10"
		alt="McLaren P1 Blue 10" />
	</figure>
</div>
