<!-- Main Content Section -->
<!--Row 1-->
<!--Boarder-->
<div class="boarder">
	<div class="grid">
		<!--Left Content Column-->
		<div class="col-1-2">
			<h2>Porsche 918 Spyder</h2>
			<div class="text_align_left">
				<p>
					It took Porsche years to develop a worthy successor to the vaunted Carrera GT supercar, but at last, the 918 is here—and it’s a plug-in hybrid! With a combined 887 hp and 944 lb-ft of torque from its mid-mounted V-8 and electric motors—one at each axle—the 918 delivers Bugatti-like acceleration, tenacious handling, and a 211-mph top end. And of course, it’s every bit as exotic-looking as any near-million-dollar supercar should be, with a low-slung, targa body, and ultra-futuristic cabin.
				</p>
				<p>
					Click on the link for more information on the <a href="http://www.caranddriver.com/porsche/918">Porsche 918</a> supercar. Price £712,088
				</p>
			</div>
		</div>
		<!--Right Content Column-->
		<div class="col-2-2">
			<div class="noprint">
				<iframe width="450" height="320" src="http://www.youtube.com/embed/egkb85D6ZFI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<!--Row 2-->
<!--Boarder-->
<div class="boarder">
	<figure>
		<figcaption>
			<strong>Porsche 918 Pictures</strong>
		</figcaption>
		<br/>
		<img src="images/porsche_1.jpg" width="150" height="150" title="Porsche 918 Silver 1"
		alt="Porsche 918 Silver 1" />
		<img src="images/porsche_2.jpg" width="150" height="150" title="Porsche 918 Silver 2"
		alt="Porsche 918 Silver 2" />
		<img src="images/porsche_3.jpg" width="150" height="150" title="Porsche 918 Silver 3"
		alt="Porsche 918 Silver 3" />
		<img src="images/porsche_4.jpg" width="150" height="150" title="Porsche 918 Silver 4"
		alt="Porsche 918 Silver 4" />
		<img src="images/porsche_5.jpg" width="150" height="150" title="Porsche 918 Silver 5"
		alt="Porsche 918 Silver 5" />
		<img src="images/porsche_6.jpg" width="150" height="150" title="Porsche 918 Silver 6"
		alt="Porsche 918 Silver 6" />
		<img src="images/porsche_7.jpg" width="150" height="150" title="Porsche 918 Black 7"
		alt="Porsche 918 Black 7" />
		<img src="images/porsche_8.jpg" width="150" height="150" title="Porsche 918 Silver 8"
		alt="Porsche 918 Silver 8" />
		<img src="images/porsche_9.jpg" width="150" height="150" title="Porsche 918 Silver 9"
		alt="Porsche 918 Silver 9" />
		<img src="images/porsche_10.jpg" width="150" height="150" title="Porsche 918 Silver 10"
		alt="Porsche 918 Silver 10" />
	</figure>
</div>
