<!-- Main Content Section -->
<!--Row 1-->
<!--Boarder-->
<div class="grid">
	<!--Left Content Column-->
	<div class="col-1-2">
		<div class="boarder">
			<!-- Image hyperlink for Supercars Category -->
			<h2>Silverstone Circuit, United Kingdom </h2>
			<p>
				Click on the image below for more information about the Silverstone Circuit.
			</p>
			<a href="silverstone_circuit.html"><img src="images/silverstone_circuit.png" width="450" height="320" title="Silverstone Circuit Map" alt="Silverstone Circuit Map" /></a>
		</div>
	</div>
	<!--Right Content Column-->
	<div class="col-2-2">
		<div class="boarder">
			<!-- Image hyperlink for Supercars Category -->
			<h2>Circuit de Barcelona-Catalunya, Montmelo, Spain </h2>
			<p>
				Click on the image below for more information about the about the Circuit de Barcelona-Catalunya.
			</p>
			<a href="catalunya_circuit.html"><img src="images/catalunya_circuit.png" width="450" height="320" title="Circuit de Barcelona-Catalunya Circuit Map" alt="Circuit de Barcelona-Catalunya Circuit Map" /></a>
		</div>
	</div>
</div>

<!--Row 2-->
<!--Boarder-->

<div class="grid">
	<!--Left Column-->
	<div class="col-1-2">
		<div class="boarder">
			<!-- Image hyperlink for Supercars Category -->
			<h2>Long Beach Circuit, United States </h2>
			<p>
				Click on the image below for more information about the Long Beach Circuit.
			</p>
			<a href="long_beach_circuit.html"><img src="images/long_beach_street_circuit.png" width="450" height="320" title="Long Beach Circuit Map" alt="Long Beach Circuit Map" /></a>
		</div>
	</div>
	<!--Right Column-->
	<div class="col-2-2">
		<div class="boarder">
			<!-- Image Hyperlink for Supercaar Parts Category-->
			<h2>Bugatti Circuit, Le Mans, France </h2>
			<p>
				Click on the image below for more information about the Bugatti Circuit, Le Mans.
			</p>
			<a href="le_mans_circuit.html"><img src="images/le_mans_circuit.png" width="450" height="320" title="Le Mans Circuit Map" alt="Le Mans Circuit Map" /></a>
		</div>
	</div>
</div>
