<!-- Main Content Section -->
<!--Row 1-->
<!--Boarder-->
<div class="grid">
	<!--Left Content Column-->
	<div class="col-1-2">
		<div class="boarder">
			<!-- Image hyperlink for Supercars Category -->
			<h2>Ferrari LaFerrari </h2>
			<p>
				Click on the image below for more information on the Ferrari LaFerrari supercar.
			</p>
			<a href="ferrari_laferrari_product.html"><img src="images/ferrari_1.jpg" width="450" height="320" title="Ferrari LaFerrari" alt="Ferrari LaFerrari" /></a>
		</div>
	</div>
	<!--Right Content Column-->
	<div class="col-2-2">
		<div class="boarder">
			<!-- Image hyperlink for Supercars Category -->
			<h2>Porsche 918 Spyder </h2>
			<p>
				Click on the image below for more information on the Porsche 918 supercar.
			</p>
			<a href="porsche_918_product.html"><img src="images/porsche_1.jpg" width="450" height="320" title="Porsche 918 Silver" alt="Porsche 918 Silver" /></a>
		</div>
	</div>
</div>

<!--Row 2-->
<!--Boarder-->

<div class="grid">
	<!--Left Column-->
	<div class="col-1-2">
		<div class="boarder">
			<!-- Image hyperlink for Supercars Category -->
			<h2>McLaren P1 </h2>
			<p>
				Click on the image below for more information on the McLaren P1 supercar.
			</p>
			<a href="mclaren_p1_product.html"><img src="images/mclaren_1.jpg" width="450" height="320" title="McLaren P1 Yellow" alt="McLaren P1 Yellow" /></a>
		</div>
	</div>
	<!--Right Column-->
	<div class="col-2-2">
		<div class="boarder">
			<!-- Image Hyperlink for Supercaar Parts Category-->
			<h2>Bugatti Veyron </h2>
			<p>
				Click on the image below for more information on the Bugatti Veyron supercar.
			</p>
			<a href="bugatti_veyron_product.html"><img src="images/bugatti_1.jpg" width="450" height="320" title="Bugatti Veyron Black" alt="Bugatti Veyron Black" /></a>
		</div>
	</div>
</div>
